<!DOCTYPE html>
<html>
<head>
 <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
 <title>Ask Imogen</title>
 <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
</head>
<body class="ask-focus">
  <h1>
    <span>Ask</span> 
    Imogen 
    <span class="number"></span>
  </h1>
  
  <div class="ask">
    <div class="record">
      <a class="record-button" href="">
        <span class="outer"></span>
        <span class="inner"></span>
        Ask your question
      </a>
      <h2>
        Some text explaining what is going on. Some text explaining what is going on. Some text explaining what is going on.
      </h2>
      
    </div>
    
    <div class="record-teaser">
      Go and as your own question
    </div>
  </div>
  
  <div class="listen">
    <ul class="q-a">
      <li class="">
        <div class="player">
          <a class="playbutton">
            <span class="inner"></span>
            <span class="outer"></span>
          </a>
          <div class="question">
            <div class="userimg"></div>
            <div class="waveform">
              <img src="images/waveform.png">
            </div>
            <h3>
              <span>Q:</span>
              <span class="username">
                Jimmy
              </span>
              4 hours ago from Berlin
            </h3>
          </div>
          <div class="answer">
            <div class="userimg"></div>
            <div class="waveform">
              <img src="images/waveform.png">
            </div>
            <h3>
              <span>A:</span>
              <span class="username">
                Imogen Heap
              </span>
              4 hours ago from London
            </h3>
          </div>
        </div>
      </li>
      
      <li class="current">
        <div class="player">
          <a class="playbutton">
            <span class="inner"></span>
            <span class="outer"></span>
          </a>
          <div class="question">
            <div class="userimg"></div>
            <div class="waveform">
              <img src="images/waveform.png">
            </div>
            <h3>
              <span>Q:</span>
              <span class="username">
                Jimmy
              </span>
              4 hours ago from Berlin
            </h3>
          </div>
          <div class="answer">
            <div class="userimg"></div>
            <div class="waveform">
              <img src="images/waveform.png">
            </div>
            <h3>
              <span>A:</span>
              <span class="username">
                Imogen Heap
              </span>
              4 hours ago from London
            </h3>
          </div>
        </div>
      </li>
      
      <li class="">
        <div class="player">
          <a class="playbutton">
            <span class="inner"></span>
            <span class="outer"></span>
          </a>
          <div class="question">
            <div class="userimg"></div>
            <div class="waveform">
              <img src="images/waveform.png">
            </div>
            <h3>
              <span>Q:</span>
              <span class="username">
                Jimmy
              </span>
              4 hours ago from Berlin
            </h3>
          </div>
          <div class="answer">
            <div class="userimg"></div>
            <div class="waveform">
              <img src="images/waveform.png">
            </div>
            <h3>
              <span>A:</span>
              <span class="username">
                Imogen Heap
              </span>
              4 hours ago from London
            </h3>
          </div>
        </div>
      </li>
      
    </ul>
  </div>
  
</body>
</html>